{% extends 'base.html.twig' %}

{% block title %}Página de inicio
{% endblock %}

{% block body %}
	<h1>Bienvenido al esqueleto del TFG</h1>
	<p>Esta es la página de inicio básica. Puedes empezar a construir tu proyecto desde aquí.</p>

	<h2>Prueba de React Component:</h2>
	<div {{ react_component('Hello', { fullName: 'Comanda Digital' } ) }}></div>
{% endblock %}
