security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: "auto"

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            # Ensure dev tools and static assets are always allowed
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator: App\Security\AppCustomAuthenticator
            entry_point: App\Security\AppCustomAuthenticator
            logout:
                path: logout
                target: login

            # Activate different ways to authenticate:
            # https://symfony.com/doc/current/security.html#the-firewall

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    role_hierarchy:
        ROLE_ADMIN: [ROLE_GERENTE, ROLE_COCINA, ROLE_BARRA, ROLE_CAMARERO]
        ROLE_GERENTE: [ROLE_COCINA, ROLE_BARRA, ROLE_CAMARERO]

    # Note: Only the *first* matching rule is applied
    access_control:
        - { path: ^/admin, roles: [ROLE_ADMIN, ROLE_GERENTE] }
        - {
              path: ^/cocina,
              roles:
                  [
                      ROLE_COCINA,
                      ROLE_BARRA,
                      ROLE_CAMARERO,
                      ROLE_ADMIN,
                      ROLE_GERENTE,
                  ],
          }
        - {
              path: ^/barra,
              roles:
                  [
                      ROLE_BARRA,
                      ROLE_COCINA,
                      ROLE_CAMARERO,
                      ROLE_ADMIN,
                      ROLE_GERENTE,
                  ],
          }

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
