{% extends 'base.html.twig' %}

{% block title %}Panel Camarero - Comanda Digital
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
	<div id="barra-app" {{ react_component('barra/BarraPage', { pedidos: pedidos, notificaciones: notificaciones } ) }}></div>
{% endblock %}
