@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.neon-glow {
    box-shadow: 0 4px 14px 0 rgba(0, 245, 212, 0.39);
}

.orange-glow {
    box-shadow: 0 4px 14px 0 rgba(255, 159, 28, 0.39);
}

.card-shadow {
    box-shadow:
        0 10px 25px -5px rgba(0, 0, 0, 0.05),
        0 8px 10px -6px rgba(0, 0, 0, 0.05);
}
