{% extends 'base.html.twig' %}

{% block title %}Mesa
	{{ mesa.numero }}
	- Comanda Digital
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet">
{% endblock %}

{% block theme_toggle %}{% endblock %}

{% block body %}
	<div id="menu-app" {{ react_component('menu/MenuPage', { mesa: mesa, productos: productos, categorias: categorias, alergenos: alergenos, idiomas: idiomas, idiomaActual: idiomaActual, ui: ui } ) }}></div>
{% endblock %}
