{% extends 'base.html.twig' %}
{% block title %}Pedido Mesa{% endblock %}
{% block body %}
<h1>Bienvenido a la mesa {{ identificador }}</h1>
<p>Aquí irá la carta y el sistema de pedidos para el cliente.</p>
{% endblock %}
